/*
 * SPDX-FileCopyrightText: 2023 Digg - Agency for Digital Government
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@font-face {
	font-family: 'Lato';
	src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype');
}

body {
	margin: 0;
	font-family: Lato, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text {
	color: var(--userfeedback-text, #4a5464);

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
}

.title {
	color: var(--userfeedback-title, #4a5464);

	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;

	margin: 0;
}

/* Small/text-xs-semi */
p {
	color: var(--userfeedback-text, #4a5464);

	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
}

h1 {
	color: var(--userfeedback-title, #4a5464);
}

h2 {
	color: var(--userfeedback-text, #4a5464);
}
